**/__pycache__/**
dist
*.pkl
!tests/*.pkl
*.log
*.bkp
.DS_Store
.vscode
.venv
.pytest_cache
build
octave-workspace
readme.html
venv
img
pyspoc/statistics/wip
README.md.bak

.env
*.egg-info/
*.ipynb_checkpoints/
.envrc

# TODO - CHANGE LATER, BUT IGNORE RIGHT NOW AS IT HAS LOCAL FILE PATH NAMES THAT I DONT WANT TO PUBLISH
/working_analyses/hjResearch_2025/notebooks/testing_summary_stats/*.yml

notes_todos.md